<ion-content>
  <div class="list-question">
    <p>{{results.tbc}}</p>
  </div>
  <p>{{results.ty_ta}}</p>
  <p>{{results.detail}}</p>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="back-btn">
        <!-- <ion-button color="dark" (click)="backbtn()">
          {{results.back}}
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button> -->
      </ion-col>
      <ion-col size="6" class="next-btn">
        <ion-button color="dark" (click)="reloadCurrentPage()">
          {{results.reset}}
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
