<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding header-backgrond-color">
    <h1 class="header-position">{{results.tbc}}</h1>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>{{results.ty_ta}}</h2>
  <h3>{{results.detail}}</h3>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-no-padding">
    <ion-row class="ion-footer-row">
      <ion-col size="6" class="back-btn"> </ion-col>
      <ion-col size="6" class="ion-right-col">
        <ion-button color="dark" (click)="reloadCurrentPage()">
          {{results.reset}}
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
