ion-content {
    --padding-bottom: 10px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 20px;
  }
  .list-question{
      p{
        font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid;
    padding-bottom: 12px;
    margin-bottom: 0;
    color: black;
      }
  }
  ion-label{
    
    font-weight: 500;
  }
  ion-item{
    margin-top: 15px;
  }
  .ftr-tp-text{
    padding-left: 15px;
    padding-right: 15px;
  }
  .back-btn{
    padding-left: 24px;
}
.next-btn{
    text-align: end;
    padding-right: 20px;
}
b{
    font-size: 22px;
    color:black;
    line-height: 50px;
}
ion-label{
    margin-top: 0px;
    margin-bottom: 0px;
}
p{
    font-size: 22px;
    color: #1e2023;
    font-weight: 700;
}

