<ion-content>
  <div class="list-question">
    <p>{{results.ybr}}</p>
  </div>
  <div class="cen-div-text">
    <ion-row>
      {{results.bfp}}<br />
      {{results.zyx098}}
    </ion-row>
    <p>{{results.ydn}}</p>
    <ion-button color="dark" (click)="copybtn()">
      {{results.copy}}
      <ion-icon slot="end" name="settings-outline"></ion-icon>
    </ion-button>
    <p>{{results.tv3_fb}}</p>
    <p>{{results.link}}</p>
  </div>
  <div class="bottom-div-text">
    <p>{{results.tv_fp}}</p>
    <ion-button color="dark" (click)="sendbtn()">
      {{results.send}}
      <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>
