<ion-content>
  <div class="upr-text">{{results.first_para}}</div>
  <br /><br />
  <div class="upr-text">{{results.sec_para}}</div>
  <br /><br /><br />
  <ion-button color="dark" (click)="newballot()">
    {{results.fist_btn}}
    <ion-icon slot="end" name="reader-outline"></ion-icon> </ion-button
  ><br /><br /><br />
  <ion-button color="dark" (click)="requestballot()">
    {{results.sec_btn}}
    <ion-icon slot="end" name="mail-outline"></ion-icon>
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar> </ion-toolbar>
</ion-footer>
