<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Confirmed-To-Start</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <div style="text-align: center">
    <ion-icon name="checkmark-circle-outline" class="cir-icon"></ion-icon>
    <p>
      {{results.heading}}
    </p>
    <!-- <p>
      Congrats John, you<br />
      can start marking your<br />
      ballot using ABC!
    </p> -->
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button color="dark" (click)="Continuebtn()">
      {{results.next}}
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
