ion-content {
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 20px;
  }
  
p{
    padding-left: 14px;
    padding-right: 14px;
    font-size: 27px;
    font-weight: 700;
    padding-top: 10px;
    text-align: start;
    margin-top: 0;
}
ion-button{
    margin-right: 25px;
    margin-bottom: 25px;
}
.cir-icon{
    font-size: 65px;
    padding-top: 50%;
}
ion-toolbar{
    text-align: end;
}