<ion-content padding>
  <p class="top-text"> What's Next</p>
  <div style="text-align: center">
    <ion-icon name="checkmark-circle-outline" class="cir-icon"></ion-icon>
    <div class="para-center">{{results.heading}}</div>
    <div class="mid">{{results.para_center}}</div>
    <div class="sec-para">{{results.heading_link}}<br>{{results.btr}}</div>
    <div class="link-last-para"> <a href="">{{results.link}}</a></div>
    <div class="thanks-sec">{{results.thanks}}</div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button color="dark" (click)="Continuebtn()">
      {{results.next}}
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
