ion-content {
  --padding-bottom: 10px;
  --padding-end: 0px;
  --padding-start: 20px;
  --padding-top: 20px;
}
.list-question {
  p {
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid;
    padding-bottom: 12px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: black;
  }
}
ion-label {
  font-weight: 500;
}
ion-item {
  margin-top: 15px;
}
.ftr-tp-text {
  padding-left: 15px;
  padding-right: 15px;
}
.back-btn {
  padding-left: 24px;
}
.next-btn {
  text-align: end;
  padding-right: 10px;
}
b {
  font-size: 22px;
  color: black;
  line-height: 50px;
}
.text-p {
  font-size: 18px;
  color: #00000066;
}
ion-label {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
}
p {
  font-size: 23px;
  padding-right: 12px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10vw;
}
ion-toolbar {
  height: 85px;
  padding-top: 8px;
  padding-right: 20px;
}
.ic-col {
  padding: 10px 0 1px;
  font-size: 26px;
}

.bottom-div-text {
  text-align: start;
  margin-right: 20px;
  font-size: 70px;
}
.cen-div-text {
  text-align: start;
  font-size: 70px;
  padding-right: 20px;
}
i {
  font-size: 13px;
  font-weight: 100;
  color: #0000007a;
}
ion-toolbar {
  padding-left: 20px;
  p {
    font-size: 15px;
    color: #00000080;
    font-weight: 700;
  }
}
ion-row {
  font-size: 23px;
  font-weight: 100;
  color: #0000006e;
  margin-bottom: 5vw;
}

.upr-text {
  padding-bottom: 13%;
}
