<ion-content>
  <div class="upr-text">
    <p>{{results.upr_para}}</p>
    <div><a href="{{results.link}}">{{results.link}}</a></div>
  </div>
  <ion-button color="dark" (click)="rpbtn()">
    {{results.back}}
    <ion-icon slot="end" name="help-outline"></ion-icon>
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-no-padding">
    <ion-button color="dark" slot="end" (click)="printbtn()">
      {{results.print}}
      <ion-icon slot="end" name="print-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
