<ion-content>
  <div class="list-question">
    <p>Your Ballot Is Ready</p>
  </div>
  <div class="cen-div-text">
    <p>You can send it digitally now.</p>
    <ion-button color="dark" (click)="sendbtn()">
      send
      <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="bottom-div-text">
    <p>
      Or if you like, you may perform a technical test to verify your ballot
      fingerprint. To do so, copy the ballot fingerprint below, and paste into
      your external validator of choice.
    </p>
    <ion-button color="dark" (click)="copybtn()">
      Copy

      <ion-icon slot="end" name="copy-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <p>Ballot Fingerprint:<br> zyx098-wvu765-tsr432-1234</p>
    </ion-row>
  </ion-toolbar>
</ion-footer>
