<ion-content>
  <div class="list-question">
    <p>
      {{results.ybr}}
    </p>
  </div>
  <div class="cen-div-text">
    <p>{{results.ydn}}</p>
    <ion-button color="dark" (click)="sendbtn()">
      {{results.send}}
      <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="bottom-div-text">
    <p>
      {{results.tv_fp}}
    </p>
    <ion-button color="dark" (click)="copybtn()">
      {{results.copy}}

      <ion-icon slot="end" name="copy-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <p>{{results.bfp}}<br> {{results.zyx098}}</p>
    </ion-row>
  </ion-toolbar>
</ion-footer>
