<ion-content>
  <div class="error-page">
    <h3>{{results.text}}</h3>
    <h3>{{results.text1}}</h3>
    <h3>{{results.text2}}</h3>
    <div><a href="{{results.link}}">{{results.link}}</a></div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-no-padding">
    <ion-row>
      <ion-button color="danger" (click)="confirm()">
        {{results.try_again}}
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
