

<ion-content>
  <div class="Required-div">
    <p>
      Sorry, it seems we are have some network connection issues on our end. Please try again. 
      <br>
      <br>
      If the issue persists, please click the link below to check the status of our servers.
      <br>
      <br>
      We are Sorry for the inconvenience!
      <br>
    </p>
  </div>
  <p class="link">
    www.linktosite.gov 
  </p>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button color="dark" (click)="confirm()">
       Try again
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>