<ion-content>
  <div class="upr-text">
    <p>{{results.upr_para}}</p>
    <p>{{results.mid_para}}</p>
    <!-- <a href="{{results.link}}">{{results.link}}</a> -->
  </div>
  <ion-button color="dark" (click)="rpbtn()">
    {{results.back}}
    <ion-icon slot="end" name="help-outline"></ion-icon>
    <!-- <ion-icon slot="end" name="settings-outline"></ion-icon> -->
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="back-btn">
        <!-- <ion-button color="dark" (click)="backbtn()">
          {{results.try_again}}
          <ion-icon slot="end" name="sync-outline"></ion-icon>
        
        </ion-button> -->
      </ion-col>
      <ion-col size="6" class="next-btn">
        <ion-button color="dark" (click)="printbtn()">
          {{results.print}}
          <ion-icon slot="end" name="print-outline"></ion-icon>
          <!-- <ion-icon slot="end" name="settings-outline"></ion-icon> -->
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
