<ion-content padding>
  <div class="list-question">
    <p>{{results.beforeyoufinish}}</p>
  </div>
  <div style="text-align: center; padding-top: 25px">
    <div class="para-center">{{results.para}}</div>
    <div class="mid">
      {{results.para_center}}"{{results.btc}}" {{results.bck}}
    </div>
    <div class="mid">{{results.link}}</div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar style="text-align: end">
    <ion-row>
      <ion-col size="6" class="back-btn" style="text-align: start"> </ion-col>
      <ion-col size="6" class="next-btn">
        <ion-button color="dark" (click)="nextbtn()">
          {{results.next}}
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
