ion-content {
  --padding-bottom: 10px;
  --padding-end: 0px;
  --padding-start: 20px;
  --padding-top: 20px;
}
.list-question {
  p {
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid;
    padding-bottom: 12px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: black;
  }
}
.back-btn {
  padding-left: 24px;
}
.next-btn {
  text-align: end;
  padding-right: 20px;
}
p {
  padding-bottom: 25px;
}
.Required-div {
  font-size: 24px;
  font-weight: 600;
  padding-left: 0px;
  padding-right: 20px;
}
