<ion-content>
  <div class="list-question">
    <p>{{results.copy_confirmed}}</p>
  </div>
  <div class="Required-div">
    <p>{{results.yccm}}</p>
    <p>{{results.yccm1}}</p>
    {{results.yccm2}}
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="back-btn">
        <ion-button color="dark" (click)="backbtn()">
          {{results.back}}
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-col>  
      <ion-col size="6" class="next-btn">
        <ion-button color="dark" (click)="nextbtn()">
          {{results.next}}
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
