<ion-content>
  <div class="Required-div">
    <p>
      Sorry, it seems you have been inactive for too long. Please go back and start a new ballot.
    </p>

    <p>
      For more information on this, please follow the link below.
    </p>

    <p>
      www.linktosite.gov
    </p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button color="dark" (click)="backbtn()">
      Back
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
