.mt30 {
  margin-top: 30px;
}

.mt60 {
  margin-top: 60px;
}

.mt100 {
  margin-top: 100px;
}

p {
  font-size: 20px;
}

ion-card-title, p {
  color: #464648;
}

ion-input {
  border: 1px solid lightgray;
  border-radius: 4px;
  --padding-start: 10px !important;
  margin-top: 8px;
}

.main-btn-style {
  --border-radius: 0;
  height: 50px;
  width: 180px;
  font-size: 20px;
}

.err-messages {
  margin-left: 20px;

  .error {
    color: var(--ion-color-danger);
    padding: 0;
  }
}

