<ion-content class="ion-padding">
  <div class="ion-text-center mt60">
    <ion-card-title>{{results.welcome_to_jetsons_ballot}}</ion-card-title>
  </div>
  <div class="ion-text-center">
    <p>{{results.to_get_started}}</p>
  </div>
  <ion-grid class="ion-no-padding mt60">
    <form [formGroup]="signupForm" (ngSubmit)="submitForm()" novalidate>
      <ion-row>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label position="stacked">{{results.first_name}}</ion-label>
            <ion-input formControlName="firstname" type="text" placeholder="{{results.first_name}}" required clearInput>
            </ion-input>
          </ion-item>
          <!-- Error messages -->
          <div class="err-messages">
            <ng-container *ngIf="isSubmitted && errorControl.firstname.errors?.required">
              <!-- <p class="error">{{results.firstname_errors}}</p> -->
            </ng-container>
            <ng-container *ngIf="isSubmitted && errorControl.firstname.errors?.minlength" >
              <!-- <p class="error">{{results.firstname_errors1}}</p> -->
            </ng-container>
            <ng-container *ngIf="isSubmitted && errorControl.firstname.errors?.maxlength">
              <!-- <p class="error">{{results.firstname_errors2}}</p> -->
            </ng-container>
            <ng-container *ngIf="isSubmitted && errorControl.firstname.errors?.pattern">
              <!-- <p class="error">{{results.firstname_errors3}}</p> -->
            </ng-container>
          </div>
        </ion-col>
        <ion-col size="6">
          <ion-item lines="none">
            <ion-label position="stacked">{{results.last_name}}</ion-label>
            <ion-input formControlName="lastname" type="text" placeholder="{{results.last_name}}" required clearInput>
            </ion-input>
          </ion-item>
          <!-- Error messages -->
          <div class="err-messages">
            <ng-container *ngIf="isSubmitted && errorControl.lastname.errors?.required">
              <!-- <p class="error">{{results.last_name_errors}}</p> -->
            </ng-container>
            <ng-container *ngIf="isSubmitted && errorControl.lastname.errors?.minlength">
              <!-- <p class="error">{{results.last_name_errors1}}</p> -->
            </ng-container>
            <ng-container *ngIf="isSubmitted && errorControl.lastname.errors?.maxlength">
              <!-- <p class="error">{{results.last_name_errors2}}</p> -->
            </ng-container>
            <ng-container *ngIf="isSubmitted && errorControl.lastname.errors?.pattern" >
              <!-- <p class="error">{{results.please_provide}}</p> -->
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="mt100 ion-text-center">
        <ion-col size="12">
          <ion-button type="submit" class="main-btn-style" color="primary">
            {{results.next}}</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <div class="mt30 ion-text-center">
    <ion-button href="https://trustthevote.org/about_abc/" color="primary" fill="clear">{{results.about_this_app}}
    </ion-button>
  </div>
</ion-content>
