<ion-header class="ion-no-border">
  <ion-toolbar class="header-backgrond-color">
    <h1 class="header-position">{{results.print_return}}</h1>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="cen-div-text" (click)="openPDF(precinctNum)">
    <h3>{{results.bpp}}</h3>
    <ion-icon name="documents-outline"></ion-icon>
  </div>
  <div class="bottom-div-text" (click)="openPDF2(precinctNum)">
    <h3>{{results.app}}</h3>
    <ion-icon name="document-outline"></ion-icon>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-footer-row">
      <ion-col size="6" class="ion-left-col">
        <ion-button class="ion-button-left" color="danger" (click)=" backbtn()">
          {{results.back}}
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-right-col">
        <ion-button class="ion-button-right" color="dark" (click)="goToFinish()">
          {{results.print}}
          <ion-icon slot="end" name="print-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
