ion-content {
    --padding-bottom: 10px;
    --padding-end: 0px;
    --padding-start: 20px;
    --padding-top: 20px;
  }

  .list-question {
    p {
      font-size: 30px;
      font-weight: 700;
      border-bottom: 1px solid;
      padding-bottom: 12px;
      margin-bottom: 0px;
      margin-top: 10px;
      color: black;
    }
  }
  ion-label {
    font-weight: 500;
  }

  ion-item {
    margin-top: 15px;
  }

  .ftr-tp-text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .next-btn {
    text-align: end;
  
  }
  b {
    font-size: 22px;
    color: black;
    line-height: 50px;
  }
  ion-label {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 18px;
      font-weight: 600;
  }
  p {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
  }

  .Required-div {
    padding-left: 0;
    ion-input {
      border: 1px solid black;
      width: 93%;
      margin-bottom: 15px;
      border-radius: 5px;
      font-size: 14px;
      margin-top: 20px;
      font-weight: 600;
      color: #000000;
      margin-top: 30px;
    }
  }
  .ic-col{
      padding: 10px 0 1px;
      font-size: 26px;
  }
  .camera-div-upr {
    height: 30%;
    text-align: center;
    border: 1px solid #00000069;
    margin-right: 22px;
    border-radius: 10px;
    margin-top: 0px;

    .div1 {
      height: 70%;
      width: 30%;
      margin: 3%;
      border: 1px solid #00000069;
      margin-right: 22px;
      border-radius: 10px;
    }
  }

  .camera-div {
    text-align: center;
    border: 1px solid #00000069;
    margin-right: 22px;
    border-radius: 10px;
    margin-top: 0px;
    height: 30%;
  
    .ic-crm-div {
      font-size: 100px;
      color: #00000085;
    }
  }

  .bottom-div-text{
    text-align: center;
    margin-right: 20px;
    font-size: 70px;
  }

  .cen-div-text{
    text-align: center;
    margin-right: 20px;
    font-size: 70px;
    padding-top: 60px;
    padding-bottom: 40px;
  }

 i{
font-size: 13px;
font-weight: 100;
color: #0000007a;
}
  