ion-content {
    --padding-bottom: 10px;
    --padding-end: 0px;
    --padding-start: 20px;
    --padding-top: 20px;
  }
  .list-question {
    p {
      font-size: 30px;
      font-weight: 700;
      border-bottom: 1px solid;
      padding-bottom: 12px;
      margin-bottom: 0px;
      margin-top: 10px;
      color: black;
    }
  }

.next-btn{
    text-align: end;
    
}
p{
    padding-bottom: 0px;
    
}
.Required-div{
    font-size: 24px;
    font-weight: 600; 
    padding-right: 20px;
    padding-left: 0px;
}
p {
    font-size: 23px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0vw;
  }
ion-row {
  text-align: start;
  font-size: 23px;
  color: gray;
  font-weight: 600;
  padding-top: 20px;
  }
  
.div-two{
    padding-top: 25px;
    text-align: center;

    .div-upr-text{
   
        p{
            font-size: 14px;
            font-weight: 600;
        }
        ion-icon{
            font-size: 65px;
        }
    }
}

.cen-div-text {
    text-align: start;
    font-size: 70px;
    padding-right: 20px;
  }
.div-text-mid{
    text-align: center;
    padding-bottom: 20%;
    font-size: 20px;
   ion-icon{
    font-size: 11vh;
   }

}
ion-toolbar{
    height: 100px;
}
