<ion-content>
  <p>
    Sorry, your authorization code did not work. Please try again, or click the
    link below for help.
  </p>
  <p>
    You can also click the print button below to proceed with a physical return
    instead.
  </p>
  <p>www.linktosite.go!</p>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="back-btn">
        <ion-button color="dark" (click)="backbtn()">
          Try again
          <ion-icon
            slot="start"
            name="chevron-back-outline"
          ></ion-icon> </ion-button
      ></ion-col>
      <!-- <ion-col size="6" class="next-btn">
        <ion-button color="dark" (click)="printbtn()">
          print
         
          <ion-icon
            slot="end"
            name="print-outline"
          ></ion-icon> </ion-button
      ></ion-col> -->
    </ion-row>
  </ion-toolbar>
</ion-footer>
