<ion-content>
<div class="Required-div">
    <p>{{results.text}}<br/><br/>
      {{results.text1}}<br/> <br/>
      {{results.test_pr}}<br><br>
      {{results.text2}} <br/></p>
</div>
<!-- <p class="link">{{results.link}}</p> -->
<ion-button style="padding-left: 20px;" color="dark" (click)="reportbtn()">
  {{results.report_prob}}
  <ion-icon slot="end" name="help-outline"></ion-icon>
</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="back-btn" style="text-align: start">
        <ion-button color="dark" (click)="tryBtn()">
          {{results.try_again}}
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6" class="next-btn"> 
        <ion-button color="dark" (click)="nextprint()">
          {{results.print}}
          <ion-icon slot="end" name="print-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
