.mt30 {
  margin-top: 30px;
}
.mt60 {
  margin-top: 60px;
}
.mt100 {
  margin-top: 100px;
}
.sub-title {
  font-size: 20px;
}
ion-card-title, p {
  color: #464648;
}
.main-btn-style {
  --border-radius: 0;
  height: 50px;
  width: 180px;
  font-size: 20px;
}
