<ion-content>
  <div class="Required-div">
    <p>
      {{results.text}}
      <br />
      <br />
      {{results.text1}}
      <br />
      <br />
      {{results.test_pr}}
      <br>
      <br>
      {{results.text2}}
      <br />
    </p>
  </div>
  <p class="link">{{results.link}}</p>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button color="dark" (click)="tryBtn()">
      {{results.try_again}}
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
