<ion-content>
  <div class="list-question">
    <div class="upr-text">{{results.thank_you}} {{ paramData?.firstname }}</div>
    <div class="cen-div">{{results.your_ballot_is_complete}}</div>
    <p>{{results.choose_a_return}}</p>
  </div>
  <div class="cen-div-text" (click)="physicalret(); ballotReturnChoice()">
    <p>
      {{results.physical_return}} <br />
      <i>{{results.requires_printer}}</i>
    </p>

    <ion-icon name="archive-outline"></ion-icon>
  </div>
  <div class="bottom-div-text" (click)="digitalret(); ballotReturnChoice()">
    <p>{{results.online_ballot_return}}</p>
    <ion-icon name="tv-outline"></ion-icon>
  </div>
</ion-content>
