<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-padding header-backgrond-color">
    <h1 class="header-position">{{results.choose_a_return}}</h1>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="cen-div-text" (click)="physicalret(); ballotReturnChoice('physical')">
    <h3>{{results.physical_return}} <br /></h3>
    <h4>{{results.requires_printer}}</h4>

    <ion-icon name="mail-outline"></ion-icon>
  </div>
  <div class="bottom-div-text" (click)="digitalret(); ballotReturnChoice('digital')">
    <h3>{{results.online_ballot_return}}</h3>
    <ion-icon name="desktop-outline"></ion-icon>
  </div>
</ion-content>
