
ion-content {
  --padding-bottom: 10px;
  --padding-end: 0px;
  --padding-start: 20px;
  --padding-top: 20px;
}
.list-question {
  p {
    font-size: 24px;
    font-weight: 700;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    color: black;
    padding-right: 20px;
  }
}
ion-label {
  font-weight: 500;
}
ion-item {
  margin-top: 15px;
}
.ftr-tp-text {
  padding-left: 15px;
  padding-right: 15px;
}
.back-btn {
  padding-left: 24px;
}
.next-btn {
  text-align: end;
  padding-right: 10px;
}
b {
  font-size: 22px;
  color: black;
  line-height: 50px;
}
ion-label {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
}
p {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 0;
}

.Required-div {
  padding-left: 0;
  ion-input {
    border: 1px solid black;
    width: 93%;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 600;
    color: #000000;
    margin-top: 30px;
  }
}
.ic-col{
    padding: 10px 0 1px;
    font-size: 26px;
}
.camera-div-upr {
  height: 30%;
  text-align: center;
  border: 1px solid #00000069;
  margin-right: 22px;
  border-radius: 10px;
  margin-top: 0px;
  .div1 {
    height: 70%;
    width: 30%;
    margin: 3%;
    border: 1px solid #00000069;
    margin-right: 22px;
    border-radius: 10px;
  }
}
.camera-div {
  text-align: center;
  border: 1px solid #00000069;
  margin-right: 22px;
  border-radius: 10px;
  margin-top: 0px;
  height: 30%;

  .ic-crm-div {
    font-size: 100px;
    color: #00000085;
  }
}
.bottom-div-text{
  text-align: center;
  margin-right: 20px;
  font-size: 85px;

}
.upr-text{
  font-size: 29px;
  font-weight: 700;
  text-align: center;
  padding-right: 20px;
  padding-bottom: 9px;
}
.cen-div{
  font-size: 21px;
    text-align: center;
    padding-right: 20px;
    padding-bottom: 9px;
}
.cen-div-text{
  text-align: center;
  margin-right: 20px;
  font-size: 85px;
  padding-top: 40px;
  padding-bottom: 40px;
}
i{
  font-size: 16px;
  color: gray;
  font-weight: bold;
}
