ion-content {
  --padding-bottom: 20px;
  --padding-start: 20px;
  --padding-top: 20px;
}

p {
  font-size: 30px;
  font-weight: 700;
  border-bottom: 1px solid;
  padding-bottom: 12px;
  margin-bottom: 0px;
  margin-top: 10px;
  color: black;
}
.cir-icon {
  font-size: 65px;
  padding-top: 10%;
}
ion-toolbar {
  padding: 10px;
}
.para-center {
  font-size: 23px;
  text-align: start;
  font-weight: 600;
  padding-right: 20px;
}
.dov-div {
  background: white;
  border: 1px solid black;
  width: 93%;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 14px;
  color: #000000;
}
.sec-para {
  text-align: start;
  font-size: 23px;

  font-weight: 600;
  padding-top: 20px;
}
.link-last-para {
  text-align: start;
  padding-top: 20px;
  padding-bottom: 20px;
}
.thanks-sec {
  text-align: start;
  font-size: 23px;
  padding-top: 20px;
  font-weight: 600;
}
.mid {
  font-size: 23px;
  font-weight: 600;
  text-align: start;
  padding-top: 20px;
}
