<ion-content padding>
  <p class="top-text">{{results.heading}}</p>
  <div style="text-align: center; padding-top: 25px">
    <div class="para-center">{{results.para}}</div>
    <div class="mid">{{results.para_center}}</div>
    <div class="sec-para">{{results.heading_link}}<br />{{results.btr}}</div>
    <div class="link-last-para"><a href="">{{results.link}}</a></div>
    <div class="thanks-sec">{{results.thanks}}</div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" style="text-align: start">
        <!-- <ion-button color="dark" (click)="backbtn()">
          {{results.back}}
          <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        </ion-button> -->
      </ion-col>
      <ion-col size="6" style="text-align: end">
        <ion-button color="dark" (click)="Continuebtn()">
          {{results.next}}
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
